@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,600;1,600&display=swap");

body {
  background: #eeeeee;
  font-family: "Bona Nova";
}
.logo {
  width: 160px;
}
.navbar {
  margin: 0px auto;
  background: #eff5f5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.navbar a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
}
.navbar button{
  height: 40px;
  padding:5px;
  margin:0px 20px;
  border-radius: 5px;
  color:#fff;
  background-color:red;
  border:none;
  float:right;
}

.menu a:hover {
  padding: 0.5rem 1rem 0.2rem 1rem;
  border-bottom: 5px solid red;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.cities {
  display: grid;
  grid-template-columns: auto auto auto;
}
/* card */
.card {
  width: 300px;
  height: 450px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 50px 50px;
}
.card:hover {
  cursor: pointer;
}
.card h4 {
  text-align: center;
  padding: 10px 20px;
}
.card img {
  width: 280px;
  height: 385px;
  object-fit: fill;
}
.card a {
  text-decoration: none;
  color: black;
}

/* city details */
.city-details {
  font-family: "Montserrat";
}

.bus-route {
  display: flex;
  padding: 10px;
  margin: 20px;
  background-color: eff5f5;
  box-shadow: 5px 10px 8px rgba(146, 15, 15, 0.2);
}

.city-details a {
  color: black;
  text-decoration: none;
}

label,
input {
  display: block;
  margin: 10px 0px;
}

input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
    background:green;
    border: 0;
    color: #fff;
    padding: 10px;
    margin:20px 0px;
    border-radius: 4px;
    cursor: pointer;
  }
  div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid red;
    color: red;
    border-radius: 4px;
    margin: 20px 0;
  }
  input.error {
    border: 1px solid var(--error);
  }

.login {
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
.map{
    width:84vw;
    height:80vh;
    border: 5px solid black;
    border-radius: 15px;
}
.bus-details{
  font-family: "Montserrat";
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

.locations{
  display: flex;
  flex-direction: row;
}
.location{
  margin:10px 20px 20px 10px;
}